.join-markups-content {
  display: flex;
  flex-direction: column;
  height: 65vh;
  min-height: 450px;

  &__table1 {
    height: 50%;
    padding-bottom: 20px;
  }

  &__table2 {
    height: 50%;
    overflow-y: auto;

    & .ui.table thead th {
      position: relative;
      position: sticky;
      top: 0;
      z-index: 1;

      @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
        position: static;
      }
    }
  }
}

.block-add-relation {
  display: flex;
  height: 100%;

  &__column {
    flex: 1 1 33%;
    overflow-y: auto;
    margin: 0 0 0 10px;

    & .ui.table thead th {
      position: relative;
      position: sticky;
      top: 0;
      z-index: 1;
    }

    &:first-of-type {
      margin: 0 10px 0 0;
    }

    @media only screen and (max-device-width: 767px), only screen and (max-width: 767px) {
      margin-left: 5px;

      & .ui.table thead th {
        position: static;
      }

      &:first-of-type {
        margin-right: 5px;
        margin-left: 0;
      }
    }
  }

  &__actions {
    display: flex;
    flex-direction: column;
    padding: 10px;

    & .ui.button {
      margin-top: 10px !important;
    }
  }
}
